<span data-votes-total-label="<%= type %>"><%= votes_count %></span>
<input type="text" name="<%= "votes[#{question_id}][#{type}]" %>" value="<%= votes_count %>" data-votes-total-input="<%= type %>"/>
