<span class="votes-count-label votes-count-label-<%= type %>" data-votes-total-label="<%= type %>">
  <span class="votes-number block text-xl font-bold"><%= votes_count %></span>
  <span class="votes-suffix singular">vote</span>
  <span class="votes-suffix plural">votes</span>
</span>
<input style="display: none;" type="text" name="<%= "votes[#{question_id}][#{type}]" %>" value="<%= votes_count %>" data-votes-total-input="<%= type %>"/>
