<section class="text-center">
  <div class="pt-8 text-left mx-auto w-full md:mt-0 sm:max-w-md xl:p-0">
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl text-center my-2">
      Welcome back to Voqua
    </h1>

    <div class="px-6 md:space-y-4 sm:px-8">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4 md:space-y-6" }) do |f| %>
        <div>
          <label for="user_email" class="block mb-2 text-sm font-medium text-gray-900">Email address</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "name@company.com",
              class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="flex items-center">
            <%= f.check_box :remember_me, checked: true, class: "w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" %>
            <%= f.label :remember_me, class: "ml-2 text-sm text-gray-600" %>
          </div>
        <% end %>

        <button type="submit" class="button button-primary w-full">
          Sign in
        </button>

        <div class="space-y-2 text-sm text-gray-600">
          <%- if devise_mapping.recoverable? %>
            <div>
              <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-blue-600 hover:underline" %>
            </div>
          <% end %>

          <%- if devise_mapping.registerable? %>
            <div>
              Don't have an account?
              <%= link_to "Sign up", new_registration_path(resource_name), class: "text-blue-600 hover:underline" %>
            </div>
          <% end %>

          <%- if devise_mapping.confirmable? %>
            <div>
              <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "text-blue-600 hover:underline" %>
            </div>
          <% end %>
        </div>

        <!--
        <%- if devise_mapping.omniauthable? %>
          <div class="mt-4 space-y-2">
            <div class="relative">
              <div class="absolute inset-0 flex items-center">
                <div class="w-full border-t border-gray-300"></div>
              </div>
              <div class="relative flex justify-center text-sm">
                <span class="px-2 bg-white text-gray-500">Or continue with</span>
              </div>
            </div>

          </div>
        <% end %>
        -->
      <% end %>

      <!--
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= button_to omniauth_authorize_path(resource_name, provider),
          class: "w-full flex items-center justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500",
          data: { turbo: false } do %>
          <span>Sign in with <%= OmniAuth::Utils.camelize(provider) %></span>
        <% end %>
      <% end %>
      -->
    </div>
  </div>
</section>
