<% if question.errors.any? %>
  <ul class="form-errors">
    <% question.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :description %>
  <%= f.text_area :description, rows: 4 %>
</div>

<div class="py-4">
  <%= f.submit "Add", class: "button button-primary" %>
</div>
